<app-breadcrumbs title="Users" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-center flex-wrap gap-2">
                    <div class="flex-grow-1">
                        <button class="btn btn-info add-btn" data-bs-toggle="modal" data-bs-target="#showModal"
                            (click)="modalPost(content)">
                            <i class="ri-add-fill me-1 align-bottom"></i> Add User
                        </button>
                    </div>
                    <div class="flex-shrink-0">
                        <div class="hstack text-nowrap gap-2" ngbDropdown>
                            <button class="btn btn-soft-danger" id="remove-actions" style="display: none"
                                (click)="deleteMultiple(deleteModel)">
                                <i class="ri-delete-bin-2-line"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-9">
        <div class="card" id="userList">
            <div class="card-header">
                <div class="row g-3">
                    <div class="col-md-4">
                        <div class="search-box">
                            <input type="text" name="searchTerm" class="form-control"
                                placeholder="Search for user ..." (input)="filterUsers($event.target)">
                                <!-- [(ngModel)]="service.searchTerm" -->
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>
                    <div class="col-md-auto ms-auto">
                        <div class="d-flex align-items-center gap-2">
                            <span class="text-muted text-nowrap">Sort by: </span>
                            <select class="form-control mb-0" data-choices data-choices-search-false [(ngModel)]="sortField"
                                id="choices-single-default" (click)="OrderByChange();">
                                <option value="id">-----</option>
                                <option value="firstName">First Name</option>
                                <option value="lastName">Last Name</option>
                                <option value="email">Email</option>
                                <option value="company">Company</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div>
                    <div class="table-responsive table-card mb-2">
                        <table class="table table-hover">
                            <thead>
                                <tr class="bg-light">
                                    <th scope="col" style="width: 50px;">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="checkAll" value="option"
                                            [(ngModel)]="masterSelected" (change)="checkUncheckAll($event)">
                                        </div>
                                    </th>
                                    <th class="sort" (click)="OrderByColumn('firstName')">First Name</th>
                                    <th class="sort" (click)="OrderByColumn('lastName')">Last Name</th>
                                    <th class="sort" (click)="OrderByColumn('email')">Email</th>
                                    <th class="sort" (click)="OrderByColumn('company')">Company</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of users" id="c_{{data.id}}">
                                    <th scope="row">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="checkAll"
                                                value="{{data.id}}" (change)="onCheckboxChange($event)">
                                        </div>
                                    </th>
                                    <td>
                                        <div>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0"><img src="assets/images/users/{{data.id}}.jpg"
                                                        alt="" class="avatar-xs rounded-circle">
                                                </div>
                                                <div class="flex-grow-1 ms-2 name">
                                                    <ngb-highlight [result]="data.firstName + ' - ' + data.id" [term]="term"></ngb-highlight>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.lastName" [term]="term"></ngb-highlight>
                                    </td>
                                    <td>
                                        {{data.email}}
                                    </td>
                                    <td>
                                        {{data.company}}
                                    </td>
                                    <td>
                                        <ul class="list-inline hstack gap-2 mb-0">
                                            <li class="list-inline-item" ngbTooltip="View" placement="top">
                                                <a href="javascript:void(0);"
                                                    (click)="viewUser(data.id)">
                                                    <i class="ri-eye-fill align-bottom text-muted"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item" ngbTooltip="Edit" placement="top">
                                                <a class="edit-item-btn" data-bs-toggle="modal"
                                                    (click)="modalPut(data.id,content)">
                                                    <i class="ri-pencil-fill align-bottom text-muted"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item me-0" ngbTooltip="Delete" placement="top">
                                                <a class="remove-item-btn" data-bs-toggle="modal"
                                                    (click)="confirm(deleteModel,data.id)">
                                                    <i class="ri-delete-bin-fill align-bottom text-muted"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row justify-content-md-between align-items-md-center">
                        <div class="col col-sm-6">
                            <div class="dataTables_info mb-2" id="tickets-table_info" role="status" aria-live="polite">
                               {{showingEntries()}}
                            </div>
                        </div>
                        <!-- Pagination -->
                        <div class="col col-sm-6">
                            <div class="text-sm-right float-sm-end listjs-pagination">
                                <pagination
                                    [boundaryLinks]="true"
                                    [directionLinks]="false"
                                    [totalItems]    ="pagination.totalCount!"
                                    [itemsPerPage]  ="pagination.pageSize!"
                                    [maxSize]="10"
                                    [(ngModel)]="pagination.currentPage"
                                    (pageChanged)="pageChanged($event)"
                                    pageBtnClass="btn"
                                    previousText="&laquo;"
                                    nextText="&rsaquo;"
                                    firstText="&laquo;"
                                    lastText="&raquo;" >
                                </pagination>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3">
        <div class="card">
            <div class="card-body text-center user-details">
                <div class="position-relative d-inline-block">
                    <img id="_img" src="" alt="" class="avatar-lg rounded-circle img-thumbnail">
                    <span class="user-active position-absolute rounded-circle bg-success"></span><span
                        class="visually-hidden"></span>
                </div>
                <h5 class="mt-4 mb-1" id="__firstName"></h5>
                <p class="text-muted" id="__lastName"></p>
            </div>
            <div class="card-body">
                <h6 class="text-muted text-uppercase fw-semibold mb-3">User Information</h6>
                <p class="text-muted mb-4">This User is .............</p>
                <div class="table-responsive table-card">
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr>
                                <td class="fw-medium" scope="row">First Name</td>
                                <td id="_firstName"></td>
                            </tr>
                            <tr>
                                <td class="fw-medium" scope="row">Last Name</td>
                                <td id="_lastName"></td>
                            </tr>
                            <tr>
                                <td class="fw-medium" scope="row">Email</td>
                                <td id="_email"></td>
                            </tr>
                            <tr>
                                <td class="fw-medium" scope="row">Company</td>
                                <td id="_company"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ADD/EDIT Modal -->
<ng-template #content role="document" let-modal>
    <div class="modal-header bg-info-subtle p-3">
        <h5 class="modal-title" class="tablelist-form" autocomplete="off" id="modalTitle">Add User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            id="close-modal" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <form [formGroup]="userForm">
        <div class="modal-body">
            <input type="hidden" id="id-field" />
            <div class="row g-3">
                <div class="col-lg-12">
                    <input type="hidden" name="id" value="" formControlName="id" />


                    <div class="text-center">
                        <div class="position-relative d-inline-block">
                            <input type="hidden" name="id" value="" formControlName="ids" />
                            <div class="position-absolute  bottom-0 end-0">
                                <label for="customer-image-input" class="mb-0" data-bs-toggle="tooltip"
                                    data-bs-placement="right" title="Select Image">
                                    <div class="avatar-xs cursor-pointer">
                                        <div
                                            class="avatar-title bg-light border rounded-circle text-muted">
                                            <i class="ri-image-fill"></i>
                                        </div>
                                    </div>
                                </label>
                                <input class="form-control d-none" id="customer-image-input" type="file"
                                    accept="image/png, image/gif, image/jpeg"
                                    formControlName="image_src"
                                    [ngClass]="{ 'is-invalid': submitted && f['image_src'].errors }"
                                    (change)="fileChange($event)">
                                <div *ngIf="submitted && f['image_src'].errors"
                                    class="invalid-feedback" align="left">
                                    <div *ngIf="f['image_src'].errors['required']">Profile is required</div>
                                </div>
                            </div>
                            <div class="avatar-lg p-1">
                                <div class="avatar-title bg-light rounded-circle">
                                    <img src="assets/images/users/user-dummy-img.jpg" id="customer-img"
                                        class="avatar-md rounded-circle object-fit-cover" />
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-lg-12">
                    <label for="firstName-field" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName-field" 
                        formControlName="firstName" placeholder="Enter first name" 
                        [ngClass]="cssValidator(f.firstName)">
                    <div class="invalid-feedback" *ngIf="f.firstName.errors?.required">campo obrigatório</div>
                    <div class="invalid-feedback" *ngIf="f.firstName.errors?.minlength">mínimo de 4 caracteres</div>
                    <div class="invalid-feedback" *ngIf="f.firstName.errors?.maxlength">máximo de 40 caracteres</div>
                </div>
                <div class="col-lg-12">
                    <label for="lastName-field" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName-field" 
                        formControlName="lastName" placeholder="Enter last name" 
                        [ngClass]="cssValidator(f.lastName)">
                    <div class="invalid-feedback" *ngIf="f.lastName.errors?.required">campo obrigatório</div>
                    <div class="invalid-feedback" *ngIf="f.lastName.errors?.minlength">mínimo de 4 caracteres</div>
                    <div class="invalid-feedback" *ngIf="f.lastName.errors?.maxlength">máximo de 40 caracteres</div>
                </div>
                <div class="col-lg-12">
                    <label for="email-field" class="form-label">Email</label>
                    <input type="text" class="form-control" id="email-field" 
                        formControlName="email" placeholder="Enter email" 
                        [ngClass]="cssValidator(f.email)">
                    <div class="invalid-feedback" *ngIf="f.email.errors?.required">campo obrigatório</div>
                    <div class="invalid-feedback" *ngIf="f.email.errors?.minlength">mínimo de 4 caracteres</div>
                    <div class="invalid-feedback" *ngIf="f.email.errors?.maxlength">máximo de 40 caracteres</div>
                </div>
                <div class="col-lg-12">
                    <label for="company-field" class="form-label">Company</label>
                    <input type="text" class="form-control" id="company-field" 
                        formControlName="company" placeholder="Enter company" 
                        [ngClass]="cssValidator(f.company)">
                    <div class="invalid-feedback" *ngIf="f.company.errors?.required">campo obrigatório</div>
                    <div class="invalid-feedback" *ngIf="f.company.errors?.minlength">mínimo de 4 caracteres</div>
                    <div class="invalid-feedback" *ngIf="f.company.errors?.maxlength">máximo de 40 caracteres</div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Close</button>
                <button class="btn btn-success" id="add-btn" 
                    [disabled]="!userForm.valid"(click)="save()">Add User</button>
            </div>
        </div>
    </form>
</ng-template>

<!-- DELETE Modal -->
<ng-template #deleteModel let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="deleteRecord-close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mt-2 text-center">
                <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json" trigger="loop"
                    colors="primary:#405189,secondary:#f06548" style="width:90px;height:90px"></lord-icon>
                <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>You are about to delete a User ?</h4>
                    <p class="text-muted mx-4 mb-0">Deleting your User will remove all of your information from our
                        database.</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button class="btn btn-link link-success fw-medium text-decoration-none" data-bs-dismiss="modal"
                    id="deleteRecord-close" (click)="modal.close('Close click')"><i
                        class="ri-close-line me-1 align-middle"></i> Close</button>
                <button type="button" class="btn w-sm btn-danger " id="delete-product" (click)="delete()"
                    (click)="modal.close('Close click')">Yes, Delete It!</button>
            </div>
        </div>
    </div>
</ng-template>