<div class="auth-page-wrapper pt-5">
    <!-- auth page bg -->
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>
    <!-- auth page content -->
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a href="javascript:void(0);" class="d-inline-block auth-logo">
                                <img src="assets/images/logo-light.png" alt="" height="20">
                            </a>
                        </div>
                        <p class="mt-3 fs-15 fw-medium">Premium Geological Database System</p>
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-9">
                    <div class="card mt-2">
                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h5 class="text-primary">Create New Account</h5>
                                <p class="text-muted">Get your free GeoCloudAI account now</p>
                            </div>
                            <div class="p-2 mt-2">
                                <form [formGroup]="signupForm">
                                    <div class="card-body form-steps">
                                        <div class="vertical-navs-step">
                                            <div class="row gy-5">
                                                <div class="col-lg-3">
                                                    <div role="tablist" aria-orientation="vertical" >
                                                        <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav flex-column custom-nav nav-pills">
                                                            
                                                            <li [ngbNavItem]="1" class="nav-item">
                                                                <a ngbNavLink class="{{valid1}}" data-bs-toggle="tab" role="tab">
                                                                    <span class="step-title me-2"><i class="ri-close-circle-fill step-icon me-2"></i>Step 1</span>User
                                                                </a>
                                                                <ng-template ngbNavContent>
                                                                    <div>
                                                                        <h5>User Info</h5><br>
                                                                    </div>
                                                                    <div>
                                                                        <div class="row g-3">
                                                                            <div class="col-6">
                                                                                <label for="firstName" class="form-label">First Name</label>
                                                                                <input type="text" class="form-control" id="firstName" placeholder="Enter first name"
                                                                                    formControlName="firstName" [ngClass]="{ 'is-invalid': f.firstName.errors && f.firstName.touched}">
                                                                                <div class="invalid-feedback" *ngIf="f.firstName.errors?.required">required field</div>
                                                                                <div class="invalid-feedback" *ngIf="f.firstName.errors?.minlength">minimum of 4 characters</div>
                                                                                <div class="invalid-feedback" *ngIf="f.firstName.errors?.maxlength">maximum 40 characters</div>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <label for="lastName" class="form-label">Last Name</label>
                                                                                <input type="text" class="form-control" id="lastName" placeholder="Enter last name" 
                                                                                    formControlName="lastName" [ngClass]="{ 'is-invalid': f.lastName.errors && f.lastName.touched}">
                                                                                <div class="invalid-feedback" *ngIf="f.lastName.errors?.required">required field</div>
                                                                                <div class="invalid-feedback" *ngIf="f.lastName.errors?.minlength">minimum of 4 characters</div>
                                                                                <div class="invalid-feedback" *ngIf="f.lastName.errors?.maxlength">maximum 40 characters</div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <label for="phone" class="form-label">Phone<span class="text-muted">(Optional)</span></label>
                                                                                <input type="text" class="form-control" id="phone" placeholder="Enter phone" 
                                                                                    formControlName="phone" [ngClass]="{ 'is-invalid': f.phone.errors && f.phone.touched}">
                                                                                <div class="invalid-feedback" *ngIf="f.phone.errors?.maxlength">maximum 40 characters</div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <label for="email" class="form-label">Email</label>
                                                                                <input type="email" class="form-control" id="email" placeholder="Enter email" 
                                                                                    formControlName="email" [ngClass]="{ 'is-invalid': f.email.errors && f.email.touched}">
                                                                                <div class="invalid-feedback" *ngIf="f.email.errors?.required">required field</div>
                                                                                <div class="invalid-feedback" *ngIf="f.email.errors?.maxlength">maximum 60 characters</div>
                                                                                <div class="invalid-feedback" *ngIf="f.email.errors?.email">must be a valid email address</div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <label for="password" class="form-label">Password</label>
                                                                                <input type="password" class="form-control" id="password" placeholder="Enter password"
                                                                                    formControlName="password" [ngClass]="{ 'is-invalid': f.password.errors && f.password.touched}">
                                                                                <div class="invalid-feedback" *ngIf="f.password.errors?.required">required field</div>
                                                                                <div class="invalid-feedback" *ngIf="f.password.errors?.minlength">minimum of 8 characters</div>
                                                                                <div class="invalid-feedback" *ngIf="f.password.errors?.maxlength">maximum 40 characters</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex align-items-start gap-3 mt-4"  >
                                                                        <button type="button" class="btn btn-success btn-label right ms-auto" 
                                                                            (click)="nextStep(2)"
                                                                            [disabled]="f.firstName.errors || 
                                                                                        f.lastName.errors || 
                                                                                        f.email.errors || 
                                                                                        f.password.errors">
                                                                            <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Go to Location
                                                                        </button>
                                                                    </div>
                                                                </ng-template>
                                                            </li>

                                                            <li [ngbNavItem]="2" class="nav-item">
                                                                <a ngbNavLink class="{{valid2}}" data-bs-toggle="tab" role="tab" >
                                                                    <span class="step-title me-2"><i class="ri-close-circle-fill step-icon me-2"></i>Step 2</span>Location
                                                                </a>
                                                                <ng-template ngbNavContent>
                                                                    <div>
                                                                        <h5>Location Info</h5><br>
                                                                    </div>
                                                                    <div>
                                                                        <div class="row g-3">
                                                                            <div class="col-md-6">
                                                                                <label for="country" class="form-label">Country</label>
                                                                                <select class="form-select" id="country" 
                                                                                    formControlName="country" [ngClass]="{ 'is-invalid': f.country.errors && f.country.touched}">
                                                                                    <option value="">Select country</option>
                                                                                    <option value="1">United States</option>
                                                                                    <option value="2">Brazil</option>
                                                                                </select>
                                                                                <div class="invalid-feedback" *ngIf="f.country.errors?.required">required field</div>
                                                                            </div>
                                                                            <div class="col-6">
                                                                                <label for="state" class="form-label">State</label>
                                                                                <input type="text" class="form-control" id="state" placeholder="Enter state" 
                                                                                    formControlName="state" [ngClass]="{ 'is-invalid': f.state.errors && f.state.touched}">
                                                                                <div class="invalid-feedback" *ngIf="f.state.errors?.required">required field</div>
                                                                                <div class="invalid-feedback" *ngIf="f.state.errors?.minlength">minimum of 2 characters</div>
                                                                                <div class="invalid-feedback" *ngIf="f.state.errors?.maxlength">maximum 40 characters</div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <label for="city" class="form-label">City</label>
                                                                                <input type="text" class="form-control" id="city" placeholder="Enter city" 
                                                                                    formControlName="city" [ngClass]="{ 'is-invalid': f.city.errors && f.city.touched}">
                                                                                <div class="invalid-feedback" *ngIf="f.city.errors?.required">required field</div>
                                                                                <div class="invalid-feedback" *ngIf="f.city.errors?.minlength">minimum of 4 characters</div>
                                                                                <div class="invalid-feedback" *ngIf="f.city.errors?.maxlength">maximum 40 characters</div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex align-items-start gap-3 mt-4">
                                                                        <button type="button" class="btn btn-light btn-label"
                                                                            (click)="nextStep(1)">
                                                                            <i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>Back to User
                                                                        </button>
                                                                        <button type="button" class="btn btn-success btn-label right ms-auto"
                                                                            (click)="nextStep(3)"
                                                                            [disabled]="f.country.errors ||
                                                                                        f.state.errors || 
                                                                                        f.city.errors">
                                                                            <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Go to Account
                                                                        </button>
                                                                    </div>
                                                                </ng-template>
                                                            </li>

                                                            <li [ngbNavItem]="3" class="nav-item">
                                                                <a ngbNavLink class="{{valid3}}" data-bs-toggle="tab" role="tab" >
                                                                    <span class="step-title me-2"><i class="ri-close-circle-fill step-icon me-2" ></i>Step 3</span>Account
                                                                </a>
                                                                <ng-template ngbNavContent>
                                                                    <div>
                                                                        <h5>Account</h5><br>
                                                                    </div>
                                                                    <div>
                                                                        <div class="row g-3">
                                                                            <div class="col-12">
                                                                                <label for="account" class="form-label">Account</label>
                                                                                <input type="text" class="form-control" id="account" placeholder="Enter account name" 
                                                                                    formControlName="account" [ngClass]="{ 'is-invalid': f.account.errors && f.account.touched}">
                                                                                <div class="invalid-feedback" *ngIf="f.account.errors?.required">required field</div>
                                                                                <div class="invalid-feedback" *ngIf="f.account.errors?.minlength">minimum of 4 characters</div>
                                                                                <div class="invalid-feedback" *ngIf="f.account.errors?.maxlength">maximum 40 characters</div>
                                                                            </div>
                                                                            <div class="col-12">
                                                                                <label for="company" class="form-label">Company</label>
                                                                                <input type="text" class="form-control" id="company" placeholder="Enter company" 
                                                                                    formControlName="company" [ngClass]="{ 'is-invalid': f.company.errors && f.company.touched}">
                                                                                <div class="invalid-feedback" *ngIf="f.company.errors?.required">required field</div>
                                                                                <div class="invalid-feedback" *ngIf="f.company.errors?.minlength">minimum of 4 characters</div>
                                                                                <div class="invalid-feedback" *ngIf="f.company.errors?.maxlength">maximum 40 characters</div>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="employyes" class="form-label">Employyes</label>
                                                                                <select class="form-select" id="employyes"
                                                                                    formControlName="employyes" [ngClass]="{ 'is-invalid': f.employyes.errors && f.employyes.touched}">
                                                                                    <option value="">Select employyes</option>
                                                                                    <option value="1-5">1 to 5</option>
                                                                                    <option value="6-10">6 to 10</option>
                                                                                    <option value="10-50">10 to 50</option>
                                                                                    <option value="50+">50+</option>
                                                                                </select>
                                                                            </div>
                                                                            <hr class="my-4 text-muted">
                                                                        </div>
                                                                    </div>
                                                                    <div class="d-flex align-items-start gap-3 mt-4">
                                                                        <button type="button" class="btn btn-light btn-label"
                                                                            (click)="nextStep(2)">
                                                                            <i class="ri-arrow-left-line label-icon align-middle fs-16 me-2"></i>Back to Location
                                                                        </button>
                                                                        <button type="button" class="btn btn-success btn-label right ms-auto"
                                                                            (click)="nextStep(4)"
                                                                            [disabled]="f.account.errors ||
                                                                                        f.company.errors ||
                                                                                        f.employyes.errors">
                                                                            <i class="ri-arrow-right-line label-icon align-middle fs-16 ms-2"></i>Signup
                                                                        </button>
                                                                    </div>
                                                                </ng-template>
                                                            </li>
                                                            
                                                            <li [ngbNavItem]="4" class="nav-item">
                                                                <a ngbNavLink class="{{valid4}}" data-bs-toggle="tab" role="tab">
                                                                    <span class="step-title me-2"><i class="ri-close-circle-fill step-icon me-2"></i>Step 4</span>Finish
                                                                </a>
                                                                <ng-template ngbNavContent>
                                                                    <div class="text-center pt-4 pb-2">
                                                                        <div class="mb-4">
                                                                            <lord-icon src="https://cdn.lordicon.com/lupuorrc.json"
                                                                                trigger="loop" colors="primary:#0ab39c,secondary:#405189"
                                                                                style="width:120px;height:120px"></lord-icon>
                                                                        </div>
                                                                        <h5>Your Signup is Completed !</h5>
                                                                        <p class="text-muted">You will receive an confirmation email with
                                                                            details of your account.</p>
                                                                    </div>
                                                                </ng-template>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <!-- end nav -->
                                                </div> <!-- end col-->
                                                <div class="col-lg-9">
                                                    <div class="px-lg-4">
                                                        <div class="tab-content">
                                                            <div [ngbNavOutlet]="customNav"></div>
                                                        </div>
                                                        <!-- end tab content -->
                                                    </div>
                                                </div>
                                                <!-- end col -->
                                            </div>
                                            <!-- end row -->
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end card body -->
                    </div>
                    <!-- end card -->
                    <div class="mt-4 text-center">
                        <p class="mb-0">Already have an account ? 
                        <a routerLink="" class="fw-semibold text-primary text-decoration-underline">Signin</a></p>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end auth page content -->

    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0">&copy; {{year}} GeoCloudAI. Crafted with <i class="mdi mdi-heart text-danger"></i> by Essencis Labs</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end Footer -->
</div>
<!-- end auth-page-wrapper -->